.App {
  width: 480px;
  margin: 0 auto;
  padding-top: 30px;
}

.errorMsg {
  padding: 10px 12px;
  margin-bottom: 20px;
  border: 1px #b74141 solid;
  background-color: #f7eded;
  border-radius: 5px;
  font-size: 13px;
}
.errorMsg:hover {
  background-color: #f3dfdf;
  cursor: pointer;
}

.phones {
  width: 100%;
}
.phone {
  width: 100%;
}
.phone-remove {
  border-left: none !important;
}

.phones.loading, .phones.loading .phone {
  opacity: 0.7;
}

form {
  margin-bottom: 15px;
}

.addInput {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  width: 420px;
  padding: 5px 8px;
}
.addInput.invalid {
  border-color: #CA3C3C !important;
}
.addBtn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  width: 60px;
  padding: 9px 10px
}
