body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
  background: #1CB841; /* this is a green */
}

.button-error {
  background: #CA3C3C; /* this is a maroon */
}

.button-warning {
  background: #DF7514; /* this is an orange */
}

.button-secondary {
  background: #42B8DD; /* this is a light blue */
}